# Archivos compilados de Java
*.class
out/
build/

# Configuración personal del editor
.idea/
.vscode/
*.iml

# Archivos temporales
*.log
Thumbs.db

# Datos generados localmente durante la ejecución
data/*.csv
